<ion-view view-title="browse" id="browse-page">
  <ion-content id="browse-page" scroll="true">

    <h3> Welcome {{firstName}} {{lastName}} <br> Your key: {{uniqueKey}} </h3>
   <div class="list card">

  <a href="#/app/scanner" class="item item-icon-left">
    <i class="icon ion-qr-scanner"></i>
    <h2>Scanner</h2>
   <p> Discover your drink </p>
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-cash"></i>
    <h2>Buy credits</h2>
    <p>Can't get enough?</p>
  </a>

  <a href="#/app/dashboard" class="item item-icon-left">
    <i class="icon ion-speedometer"></i>
    <h2>Dashboard</h2>
    <p>All the info you need</p>
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wineglass"></i>
    <h2>Shot of the day</h2>
    <p>A juice shot a day keeps </br>the doctor away</p>
  </a>

</div>
  </ion-content>
</ion-view>
