<ion-view style="" id="page8" title="Dashboard">
  <ion-content class="has-header" padding="true">
    <div class="button-bar" id="dashboard-button-bar2">
      <button class="button button-balanced  button-block button-outline" id="dashboard-button15">Day</button>
      <button class="button button-balanced  button-block" id="dashboard-button16">Week</button>
      <button class="button button-balanced  button-block" id="dashboard-button17">All time</button>
    </div>
    <div>
      <img style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;" src="img/B3B8kJ4rTFidUQIoWdOu_download-business-statistics-symbol-of-a-graphic.png">
    </div>
    <button class="button button-balanced  button-block" id="dashboard-button18">Ingredients</button>
    <button class="button button-balanced  button-block" id="dashboard-button19">Nutrients</button>
  </ion-content>
</ion-view>