<ion-view style="" id="page4" title="Home">
  <ion-content class="has-header" padding="true" style="background: url(img/JCu36jTiRxK6YEyTWNvq_background_wood_smartphone_horizontal.png) no-repeat center;background-size:cover;">
    <ion-list id="home-list3">
      <ion-item style="" ui-sref="scanner" id="home-list-item1" class="item-thumbnail-left item-icon-right balanced">
        <img src="img/LG9N4HGjRN239302LAXL_qrcode.png">
        <h2balanced>Scan your shot
          <p>Discover your drink</p>
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div style="width: 300px; height: 17px;" class="spacer"></div>
    <ion-list id="home-list4">
      <ion-item style="" ui-sref="dashboard" id="home-list-item3" class="item-thumbnail-left item-icon-right balanced">
        <img src="img/NV7COKX9ScK97VykPj89_download-business-statistics-symbol-of-a-graphic.png">
        <h2balanced>Dashboard
          <p>All the info you need</p>
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div style="width: 300px; height: 17px;" class="spacer"></div>
    <ion-list id="home-list5">
      <ion-item style="" ui-sref="creditshop" id="home-list-item4" class="item-thumbnail-left item-icon-right balanced">
        <img src="img/avhpnTQoTDOnjlWH0mcy_coins-stack.png">
        <h2balanced>Buy credits
          <p>Can't get enough?</p>
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div style="width: 300px; height: 17px;" class="spacer"></div>
    <ion-list id="home-list6">
      <ion-item style="" ui-sref="juiceOfTheDay" id="home-list-item5" class="item-thumbnail-left item-icon-right balanced">
        <img src="img/FI7HWR5Qvef4ZpVsrWxa_star-outline-favorite-interface-symbol.png">
        <h2balanced>Shot of the day
          <p style="white-space:normal;">A juice shot a day keeps the doctor away</p>
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>