<ion-view style="" id="page6" title="Juice of the day">
  <ion-content class="has-header" padding="true">
    <h1 style="color: rgb(0, 0, 0); text-align: center;" id="juiceOfTheDay-heading2">Juices of the day</h1>
    <h2 style="color: rgb(0, 0, 0); text-align: center;" id="juiceOfTheDay-heading3">Juicename</h2>
    <ion-slides style="width:calc(100% + 20px);height:200px;margin-left:-10px;" id="juiceOfTheDay-slider2" disable-side-menu-drag="" options="{'loop': true}" slider="slider2">
      <ion-slide-page style="background:url(img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg) no-repeat center;background-size:cover;" id="juiceOfTheDay-slide28"></ion-slide-page>
      <ion-slide-page style="background:url(img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg) no-repeat center;background-size:cover;" id="juiceOfTheDay-slide29"></ion-slide-page>
      <ion-slide-page style="background:url(img/avfsZwJT9WGsBj982ul1_kitten1.jpg) no-repeat center;background-size:cover;" id="juiceOfTheDay-slide27"></ion-slide-page>
    </ion-slides>
    <div style="width: 300px; height: 22px;" class="spacer"></div>
    <div class="show-list-numbers-and-dots" id="juiceOfTheDay-markdown1">
      <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac ipsum est. Vivamus nec orci vel nulla porttitor ornare. Quisque ac aliquam libero, i</p>
    </div>
    <button class="button button-balanced  button-block" id="juiceOfTheDay-button9">More info</button>
  </ion-content>
</ion-view>