<ion-view view-title="scanner" id="scanner-page">
  <ion-content id="scanner-page" scroll="true">
    <div class="card">
      <div class="item">
       <button class="button button-block button-balanced" ng-click="scanBarcode()">Scan QR code</button>
      </div>
    </div>

    <div class="card">
        {{juicePicture}}
        <h2>Scan result:</h2> <br>
        <h4>Shot name: {{juiceName}}</h4><br>
        {{JuiceDescription}}<br><br>
        Amount: {{JuiceAmount}}ml
        token: {{tokenqr}}
      <div class="item item-text-wrap">
      <button class="button button-block button-dark"  id="scan-btn" ng-click="addToDash()">Add to dash</button></a>
      </div>
    </div>
  </ion-content>
</ion-view>